.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        left: auto;
        right: -66px;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        li {    
            list-style: none;       
            button {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin: 0 10px;
                border: none;
                background: rgb(153, 153, 153);
                font-size: 0;
            }
        }
        .slick-active {
            button {
                background: #000;
            }
        }
    }

}